{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{% if  request.user.is_authenticated %}
  {% if request.user == book.user %}
    <div class="d-flex justify-content-start" style='margin: 10px;'>
      <a href="{% url 'books:update' book.pk %}" class="btn; btn-success " style='text-decoration-line: none; '>UPDATE</a>
      <form action="{% url 'books:delete' book.pk %}" method="POST" style= 'margin:0;'>
        {% csrf_token %}
        <button class="btn; btn-danger">DELETE</button>
      </form>
    </div>
  {% endif %}
{% endif %}
<hr>
<div style= 'margin:40px; height:50px; width:80%;'>
  <h4 class="fw-bold" >평점: <p class="badge bg-primary rounded-pill">
  {% if avg_rank.rank__avg  %}
    {{ avg_rank.rank__avg|floatformat:"1" }}
  {% else %}
    없음
  {% endif %}
  </p></h4>
  <div class='d-flex flex-row' sytle='margin:10px'>
    {% if book.image %}
      <img src="{{ book.image.url }}" alt="{{ book.image.url }}" style='margin-right:20px; margin-top:0px; max-width:20%; height:auto;'>
    {% endif %}
    <div style='margin-top:2.5%'>
      <h4 class="fw-bold">제목</h4>
      {{ book.title }}
      <p></p>
      <h4 class="fw-bold">저자</h4>
      {{ book.author }}
      <p></p>
      <h4 class="fw-bold">장르</h4>
      {{ book.genre }}
      <hr>
      <h4 class="fw-bold">내용</h4>
      {{ book.content }}
    </div>
  </div>
  <p class="d-flex justify-content-end">작성시각 : {{ book.created_at }}</p>
  <hr>
  <h4 class="fw-bold">댓글 목록</h4> 
  <p class="d-flex justify-content-end">{{ comments|length }}개의 댓글이 있습니다.</p>
  <ul class="list-group">
    {% for comment in comments %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><p class="badge bg-primary rounded-pill" style="margin:auto">{{ comment.rank }}</p></li>
            <li class="list-group-item" style="margin:auto">{{ comment.user }}</li>
            <li style="margin:auto">  {{ comment.content }}</li>
          </ul>
        </div>
        <span>{{ comment.created_at }}</span>
      </li>
    {% endfor %}
  </ul>
  <hr>
  
  {% if  request.user.is_authenticated %}
  <form action="{% url 'books:comments_create' book.pk %}" method="POST">
    <div>
      <h4 class="fw-bold">댓글 작성</h4> 
      <span><input type="submit" value='제출'></span>
    </div>
    {% csrf_token %}
    {% bootstrap_form comment_form %}
  </form>
  {% else %}
    <h4 class="fw-bold">댓글 작성</h4>
    <button type="button" class="btn btn-primary"><a href="{% url 'accounts:login'%}" class="btn" style="color: white;">로그인 필요</a></button>
  {% endif %}
  <hr>
  <div class = "d-grid gap-2 col-4 mx-auto" style= 'margin:20px; height:50px;'>
    <a href="{% url 'books:index'%}" class="btn btn-primary" style="color: white;">BACK</a>
  </div> 
</div>

{% endblock content %}


